<div class="maisidebar">
    <div class="sidebar">
        <div class="l1">
            <a class="sb-items"><i class="ri-home-5-fill"></i> Home</a>
            <a class="sb-items"><i class="ri-folder-video-line"></i> Shorts</a>
            <a class="sb-items"><i class="ri-team-line"></i> Subscriptions</a>
            <hr>
            <a class="sb-items"><i class="ri-user-line"></i> You</a>
            <a class="sb-items"><i class="ri-chat-history-line"></i> History</a>
            <hr>
            <a class="sb-items"><i class="ri-fire-line"></i> Trending</a>
            <a class="sb-items"><i class="ri-shopping-bag-2-line"></i> Shopping</a>
            <a class="sb-items"><i class="ri-music-line"></i> Music</a>
            <a class="sb-items"><i class="ri-music-line"></i> Movies</a>
            <a class="sb-items"><i class="ri-hotspot-line"></i> Live</a>
            <a class="sb-items"><i class="ri-gamepad-line"></i> Gaming</a>
            <a class="sb-items"><i class="ri-news-line"></i> News</a>
            <a class="sb-items"><i class="ri-basketball-line"></i> Sports</a>
            <a class="sb-items"><i class="ri-presentation-fill"></i> Learning</a>
            <a class="sb-items"><i class="ri-magic-line"></i> Fashion & Beauty</a>
            <a class="sb-items"><i class="ri-netease-cloud-music-line"></i> Podcasts</a>
            <hr>
            <a class="sb-items"><i class="ri-pages-line"></i> Browse channels</a>
            <hr>
            <a class="sb-items"><i class="ri-settings-line"></i> Settings</a>
            <a class="sb-items"><i class="ri-flag-line"></i> Report History</a>
            <a class="sb-items"><i class="ri-question-line"></i> Help</a>
            <a class="sb-items"><i class="ri-feedback-line"></i> Send Feedback</a>

        </div>


    </div>

    <div class="chip">

        <div class="tags">

            <div class="tag">
                <p>All</p>
            </div>
            <div class="tag">
                <p>Sitcoms</p>
            </div>
            <div class="tag">
                <p>Mixes</p>
            </div>
            <div class="tag">
                <p>Music</p>
            </div>
            <div class="tag">
                <p>Gaming</p>
            </div>
            <div class="tag">
                <p>Live</p>
            </div>
            <div class="tag">
                <p>Street food</p>
            </div>
            <div class="tag">
                <p>Hacker</p>
            </div>
            <div class="tag">
                <p>News</p>
            </div>

        </div>
        <!-- SidebarENd-->


        <div class="video_box">

            <div id="videos" class="videos-container"></div>

        </div>


    </div>





</div>