<!-- NAVIGATION BAR Start Here-->

<div class="nav">

    <div class="navp1">
        <i class="ri-menu-line" ></i>

        <div class="indlogo">
            <div class="indimglogo">
                <img [src]="url" height="40px" width="100px">
            </div>

        </div>
    </div>
    <div class="navp2">
        <form class="nav2form" action="#">
            <input type="text" placeholder="Search" class="nav2input">
        </form> <button class="search"><i class="ri-search-line "></i></button>
        <button class="mic"><i class="ri-mic-fill "></i></button>
    </div>
    <div class="navp3 ">
        <i class="ri-video-add-line "></i>
        <i class="ri-notification-line "></i>
        <i class="ri-shield-user-line "></i>
    </div>

</div>


<!-- NAVIGATION BAR END -->