<!-- NAVIGATION BAR Start Here-->

<div class="nav">

    <div class="navp1">
        <i class="ri-menu-line"></i>

        <div class="indlogo">
            <div class="indimglogo">
                <img [src]="url" height="40px" width="100px">
            </div>

        </div>

    </div>
    <div class="navp2">
        <form class="nav2form" action="#">
            <input type="text" placeholder="Search" class="nav2input">
        </form> <button class="search"><i class="ri-search-line "></i></button>
        <button class="mic"><i class="ri-mic-fill "></i></button>
    </div>



    <div class="navp3 ">
        <i class="ri-video-add-line "></i>
        <i class="ri-notification-line "></i>
        <i class="ri-shield-user-line " (click)="settingsMenuToggle()"></i>
    </div>


    <!----------------Settings Menu"----------------------->
    <div class="settings-menu" [class.settings-menu-height]="settingsMenuHeight">

        <div class="settings-menu-inner">
            <div class="user-profile">
                <img [src]="profilepic">
                <div>
                    <p style="font-size: 15px;">{{name + " @umeshshelare6687"}}</p>
                    <a style="color: lightskyblue; padding-top: 10px;">&nbsp; View your Channel</a>
                </div>
            </div>
            <hr>
            <div class="user-profile">

                <i class="ri-google-fill">
                </i>&nbsp;
                <p>Google Account</p>


            </div>

            <div class="user-profile">

                <i class="ri-switch-line">
                </i>&nbsp;
                <p>Switch Account</p>

            </div>

            <div class="user-profile">

                <i class="ri-logout-box-r-line">
                </i>&nbsp;
                <p>Sign Out</p>

            </div>
            <hr>
            <div class="settings-links">
                <i class="ri-movie-2-line"> </i>
                <a href="#">&nbsp; YouTube Studio</a>
            </div>
            <div class="settings-links">
                <i class="ri-money-dollar-circle-line"></i>
                <a href="#">&nbsp; Purchases & Memberships </a>
            </div>
            <hr>
            <div class="settings-links">
                <i class="ri-money-dollar-circle-line"></i>
                <a href="#">&nbsp; Purchases & Memberships </a>
            </div>
            <div class="settings-links">
                <i class="ri-money-dollar-circle-line"></i>
                <a href="#">&nbsp; Purchases & Memberships </a>
            </div>
            <div class="settings-links">
                <i class="ri-money-dollar-circle-line"></i>
                <a href="#">&nbsp; Purchases & Memberships </a>
            </div>
            <div class="settings-links">
                <i class="ri-money-dollar-circle-line"></i>
                <a href="#">&nbsp; Purchases & Memberships </a>
            </div>
            <div class="settings-links">
                <i class="ri-money-dollar-circle-line"></i>
                <a href="#">&nbsp; Purchases & Memberships </a>
            </div>
            <div class="settings-links">
                <i class="ri-money-dollar-circle-line"></i>
                <a href="#">&nbsp; Purchases & Memberships </a>
            </div>
            <hr>
            <div class="settings-links">
                <i class="ri-settings-3-line"></i>
                <a [routerLink]="['/setting']" routerLinkActive="active">&nbsp; Settings </a>
            </div>
            <hr>
            <div class="settings-links">
                <i class="ri-money-dollar-circle-line"></i>
                <a href="#">&nbsp; Purchases & Memberships </a>
            </div>
            <div class="settings-links">
                <i class="ri-money-dollar-circle-line"></i>
                <a href="#">&nbsp; Purchases & Memberships </a>
            </div>
        </div>

    </div>


</div>



<!-- NAVIGATION BAR END -->